@use "../../assets/sass/variables" as *;

.browse {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 3rem;
    }
    &__page-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}