@use "../../assets/sass/variables" as *;

.admin {
    &__title {
        text-align: center;
    }
    &__heading {
        margin-top: 0;
    }
    &__container {
        display: flex;
        justify-content: center;
        gap: 5rem;

        width: 80%;
        padding: 0 10%;

        &--users {
            margin-top: 2rem;
        }

    }
    &__form {
        display: flex;
        flex-direction: column;
        background-color: $color-light;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    &__button {
        margin-top: 1rem;
        height: 2rem;
        border-radius: 5px;
        background-color: $color-mid;
        color: $color-white;
        transition: all 0.2s;

        &:hover {
            background-color: $color-accent;
            color: $color-black;
        }
    }

    &__users {
        background-color: $color-light;
        padding: 1rem;
        border-radius: 5px;
    }
    &__user-list {
        background-color: $color-white;
        overflow: auto;
        padding: 0 1rem;
        height: 24rem;
        border: 1px solid black;
        border-radius: 5px;
    }

    &__button-box {
        margin: 2rem;
        display: flex;
        justify-content: center;
    }
}