@use "../../assets/sass/variables" as *;

.admin {
    &__title {
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: center;
        gap: 5rem;

        width: 80%;
        padding: 0 10%;

    }
    &__form {
        display: flex;
        flex-direction: column;
        background-color: $color-light;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    &__button {
        margin-top: 1rem;
        height: 2rem;
        border-radius: 5px;
        background-color: $color-mid;

        &:hover {
            background-color: $color-dark;
            color: $color-white;
        }
    }
}